<div class="container">
  <div class="row">
    <div class="col">
        <button type="button" class="btn btn-dark" (click)="_updateStudentList()">Обновить</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="_openModal(template)">Создать</button>
      <h4>Список студентов группы</h4>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Группа</th>
            <th scope="col">Факультет</th>
            <th scope="col">Курс</th>
            <th scope="col">Подгруппа</th>
            <th scope="col">Телефон</th>
            <th scope="col">Email</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let studList of studentList">
          <td scope="row">{{studList.id_student}}</td>
            <td >{{studList.secondname}}</td>
            <td>{{studList.firstname}}</td>
            <td>{{studList.patronymic}}</td>
            <td>{{studList.group.name}}</td>
            <td>{{studList.group.faculty.name}}</td>
            <td>{{studList.group.course}}</td>
            <td>{{studList.subgroup}}</td>
            <td>{{studList.telnumber}}</td>
            <td>{{studList.email}}</td>
            <td><button type="button" class="btn btn-secondary" (click)="_openModal(template, studList)">Изменить</button></td>
            <td><button type="button" class="btn btn-danger" (click)="_deleteStudentList(studList.id_student)">Удалить</button></td>
          </tr>
        </tbody>
      </table>
      <div>
        <p>Количество студентов: {{studentList ? studentList.length : 0}}</p>
      </div>
    </div>
  </div>


<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Изменить": "Создать "}}</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-studentsGroup">
      <label>Фамилия</label>
      <input class="form-control" name="secondname" [(ngModel)]="editableStudent.secondname" #secondname="ngModel" required/>
      <div [hidden]="secondname.valid || secondname.untouched" class="alert alert-danger">
        Введите фамилию<!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-studentsGroup">
      <label>Имя</label>
      <input class="form-control" name="firstname" [(ngModel)]="editableStudent.firstname" #firstname="ngModel" required/>
      <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
        Введите имя<!--Easy way to create client validation-->
      </div>
    </div>
      <div class="form-studentsGroup">
        <label>Отчество</label>
        <input class="form-control" name="patronymic" [(ngModel)]="editableStudent.patronymic" #patronymic="ngModel" required/>
        <div [hidden]="patronymic.valid || patronymic.untouched" class="alert alert-danger">
          Введите отчество<!--Easy way to create client validation-->
        </div>
      </div>
      <div class="form-studentsGroup">
          <label>Группа</label>
          <input class="form-control" name="group" [(ngModel)]="editableStudent.group.name" #group="ngModel"
                 required pattern ="[0-9]{6}"/>
          <div [hidden]="group.valid || group.untouched" class="alert alert-danger">
            Ошибка ввода группы<!--Easy way to create client validation-->
          </div>
      </div>

        <div class="form-studentsGroup">
          <label>Факультет</label>
          <input class="form-control" name="faculty" [(ngModel)]="editableStudent.group.faculty.name" #faculty="ngModel" required/>
          <div [hidden]="faculty.valid || faculty.untouched" class="alert alert-danger">
            Введите группу<!--Easy way to create client validation-->
          </div>
        </div>
          <div class="form-studentsGroup">
            <label>Подруппа</label>
            <input class="form-control" name="subgroup" [(ngModel)]="editableStudent.subgroup" #subgroup="ngModel" required/>
            <div [hidden]="subgroup.valid || subgroup.untouched" class="alert alert-danger">
              Введите подгруппу<!--Easy way to create client validation-->
            </div>
          </div>

    <div class="form-studentsGroup">
      <label>Номер телефона</label>
      <input class="form-control" name="telnumber" [(ngModel)]="editableStudent.telnumber" #telnumber="ngModel" required/>
      <div [hidden]="telnumber.valid || telnumber.untouched" class="alert alert-danger">
        Введите номер телефона<!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-studentsGroup">
      <label>Email</label>
      <input class="form-control" name="email" [(ngModel)]="editableStudent.email" #email="ngModel"
             required pattern="[a-zA-Z0-9_\.\-]+@[a-zA-Z]+?\.[a-zA-Z]{2,4}"/>
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Неверный email
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addStudentList(firstname, secondname, patronymic, group, faculty, subgroup, telnumber, email)"
            [disabled]="firstname.invalid || secondname.invalid || patronymic.invalid || faculty.invalid || group.invalid || subgroup.invalid || telnumber.invalid || email.invalid">{{editMode ? "Сохранить": "Создать"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Закрыть</button>
  </div>

</ng-template>
