<div class="navbar navbar-expand-md navbar-light  bg-light">
  <a class="navbar-brand mx-auto" href="#">Netcracker</a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a href="./student-list" class="nav-link">Студенты</a>
    </li>
    <li class="nav-item">
      <a href="./professor-list" class="nav-link">Преподаватели</a>
    </li>
    <li class="nav-item">
      <div ngbDropdown="d-inline-block">
        <a class="btn" id="dropdown1" ngbDropdownToggle>Расписание</a>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <a href="" class="dropdown-item">Студентов</a>
          <a href="" class="dropdown-item">Преподавателей</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div ngbDropdown="d-inline-block">
        <a class="btn" id="dropdown2" ngbDropdownToggle>Привет, Администратор</a>
        <div ngbDropdownMenu aria-labelledby="dropdown2">
          <a href="" class="dropdown-item">Выйти</a>
        </div>
      </div>
    </li>
  </ul>
</div>







<!--<div class="navbar navbar-expand-md navbar-light  bg-light">-->
  <!--<a class="navbar-brand mx-auto" href="#">Netcracker</a>-->
  <!--<div class="nav nav-tabs" id="nav-tab" role="tablist">-->
    <!--<li><a href="">Студенты</a></li>-->
    <!--<li class="dropdown">-->
      <!--<a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" id="nav-schedule-tab" data-toggle="tab">Расписание</a>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li class="dropdown-submenu">-->
          <!--<a class="test" tabindex="-1" href="#">Просмотреть <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<a class="nav-item nav-link active" id="nav-view-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="false">Группы</a>-->
            <!--<a class="nav-item nav-link" id="nav-view-professor-tab" data-toggle="tab" href="#nav-professor" role="tab" aria-controls="nav-professor" aria-selected="false">Преподавателя</a>-->
          <!--</ul>-->
          <!--<a class="nav-item nav-link" id="nav-change-tab" data-toggle="tab" href="#nav-change" role="tab" aria-controls="nav-change" aria-selected="false">Изменить</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li><a href=""class="nav-link" data-toggle="modal" data-target="#visitsModal">Посещения</a></li>-->
    <!--<li class="dropdown">-->
      <!--<a href="#" class="nav-link dropdown-toggle" id="dropdownAdmin" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>Привет, Администратор-->
      <!--</a>-->
      <!--<div class="dropdown-menu position-absolute" aria-labelledby="dropdownAdmin">-->
        <!--<a class="dropdown-item" href="#">Профиль</a>-->
        <!--<div class="dropdown-divider"></div>-->
        <!--<a class="dropdown-item" href="#">Выйти</a>-->
      <!--</div>-->
    <!--</li>-->

  <!--</div>-->

<!--</div>-->
