<div class="navbar navbar-expand-md navbar-light  bg-light">
  <a class="navbar-brand mx-auto" href="#">Netcracker</a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a href="#" class="nav-link">Студенты</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Преподаватели</a>
    </li>
    <li class="nav-item">
      <div ngbDropdown="d-inline-block">
        <a class="btn" id="dropdown1" ngbDropdownToggle>Расписание</a>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <a href="" class="dropdown-item">Студентов</a>
          <a href="" class="dropdown-item">Преподавателей</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div ngbDropdown="d-inline-block">
        <a class="btn" id="dropdown2" ngbDropdownToggle>Привет, Администратор</a>
        <div ngbDropdownMenu aria-labelledby="dropdown2">
          <a href="" class="dropdown-item">Выйти</a>
        </div>
      </div>
    </li>
  </ul>
</div>
